/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* libs */
/* line 1, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 10, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 28, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

/* line 38, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 55, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snap-drawer-left {
  left: 0;
  z-index: 1;
}

/* line 60, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snap-drawer-right {
  right: 0;
  z-index: 1;
}

/* line 66, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

/* line 71, /Users/franzwilding/Sites/istudi/sass/lib/_snap.scss */
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* base */
/* COLORS */
/* line 2, /Users/franzwilding/Sites/istudi/sass/modules/_icons.scss */
.icn {
  width: 22px;
  height: 48px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.icn {
  *display: inline;
}

/* line 8, /Users/franzwilding/Sites/istudi/sass/modules/_icons.scss */
.icn.menu {
  background: url("img/icons/menu.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 13, /Users/franzwilding/Sites/istudi/sass/modules/_icons.scss */
.icn.navigation {
  width: 12px;
  height: 12px;
  background: url("img/icons/navigation.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 20, /Users/franzwilding/Sites/istudi/sass/modules/_icons.scss */
.icn.navigation {
  width: 12px;
  height: 12px;
  background: url("img/icons/navigation.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/franzwilding/Sites/istudi/sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 1em;
}

/* line 6, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
.c {
  clear: both;
  margin: 0;
  padding: 0;
}

/* line 12, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
p, ul, ol, dl, h1, h2, h3, h4, h5, h6, table, pre, blockquote, hr {
  margin: 20px 0;
}

/* line 16, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
h2 {
  color: #bf0000;
  font-size: 1.4em;
}

/* line 21, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
h4 {
  font-weight: 200;
  color: #666666;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* line 35, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
i {
  font-style: italic;
}

/* line 57, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
ol, ul {
  margin: 0 0 20px 20px;
}

/* line 65, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 69, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
ul {
  list-style: disc;
}

/* line 88, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
table tr td {
  padding: 2px;
}

/* FORMUALR AND USER INPUTS */
/* line 124, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
form input, form textarea {
  font-size: 1em;
  font-weight: 200;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  background: white;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #B3B3B3;
  border: none;
}
/* line 134, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
form input:focus, form textarea:focus {
  color: #111111;
}
/* line 142, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
form input {
  height: 30px;
}

/* line 156, /Users/franzwilding/Sites/istudi/sass/base/_defaults.scss */
#splash {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
}

/* ui elements */
/* line 2, /Users/franzwilding/Sites/istudi/sass/modules/ui/_app.scss */
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 7, /Users/franzwilding/Sites/istudi/sass/modules/ui/_app.scss */
#app .header, #app .content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 15, /Users/franzwilding/Sites/istudi/sass/modules/ui/_app.scss */
#app .content {
  top: 50px;
  overflow: auto;
}
/* line 19, /Users/franzwilding/Sites/istudi/sass/modules/ui/_app.scss */
#app .content .inner {
  width: 100%;
  min-height: 101%;
}

/* line 26, /Users/franzwilding/Sites/istudi/sass/modules/ui/_app.scss */
#main {
  background: #EDEDED;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

/* line 2, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header {
  height: 50px;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(97%, #f6f6f6), color-stop(98%, #c2c2c2), color-stop(98%, #dfdfdf));
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6 97%, #c2c2c2 98%, #dfdfdf 98%);
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6 97%, #c2c2c2 98%, #dfdfdf 98%);
  background-image: -o-linear-gradient(#ffffff, #f6f6f6 97%, #c2c2c2 98%, #dfdfdf 98%);
  background-image: -ms-linear-gradient(#ffffff, #f6f6f6 97%, #c2c2c2 98%, #dfdfdf 98%);
  background-image: linear-gradient(#ffffff, #f6f6f6 97%, #c2c2c2 98%, #dfdfdf 98%);
}
/* line 7, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header h2 {
  margin: 13px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 12, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header .button {
  width: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2px;
}
/* line 23, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header .button:hover, .header .button.active {
  background: url("img/assets/header_button_hover.png") repeat-x center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 27, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header .button .sep {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: 1px;
  background: url("img/assets/header_button_seperator.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 38, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header .button.left .sep {
  right: 0;
}
/* line 43, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.header .button.right {
  left: 0;
}

/* line 49, /Users/franzwilding/Sites/istudi/sass/modules/ui/_header.scss */
.menu_open .header .button {
  background: url("img/assets/header_button_hover.png") repeat-x center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* line 5, /Users/franzwilding/Sites/istudi/sass/modules/ui/_content.scss */
.content .inner .spacer {
  height: 15px;
  width: 100%;
  margin: 0;
}
/* line 11, /Users/franzwilding/Sites/istudi/sass/modules/ui/_content.scss */
.content .inner h1, .content .inner h2, .content .inner h3, .content .inner h4, .content .inner h5, .content .inner h6, .content .inner p, .content .inner ol, .content .inner ul {
  margin: 15px;
}
/* line 15, /Users/franzwilding/Sites/istudi/sass/modules/ui/_content.scss */
.content .inner h1, .content .inner h2, .content .inner h3, .content .inner h4, .content .inner h5, .content .inner h6 {
  margin-bottom: 0;
}
/* line 19, /Users/franzwilding/Sites/istudi/sass/modules/ui/_content.scss */
.content .inner ol, .content .inner ul {
  margin-left: 35px;
}

/* line 3, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list, .content .inner ol.list {
  border-top: 1px solid #C7C7C7;
  margin: 5px 0 20px 0;
}
/* line 7, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list li, .content .inner ol.list li {
  width: 100%;
  background: white;
  border-bottom: 1px solid #C7C7C7;
  position: relative;
}
/* line 13, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list li .listInner, .content .inner ol.list li .listInner {
  padding: 18px 15px;
}
/* line 16, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list li .listInner .title, .content .inner ol.list li .listInner .title {
  font-size: 1.2em;
  font-weight: 200;
  color: #000000;
}
/* line 22, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list li .listInner .navigation, .content .inner ol.list li .listInner .navigation {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 15px;
}
/* line 30, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list li:active, .content .inner ol.list li:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099ff), color-stop(100%, #0089e7));
  background-image: -webkit-linear-gradient(#0099ff, #0089e7);
  background-image: -moz-linear-gradient(#0099ff, #0089e7);
  background-image: -o-linear-gradient(#0099ff, #0089e7);
  background-image: -ms-linear-gradient(#0099ff, #0089e7);
  background-image: linear-gradient(#0099ff, #0089e7);
}
/* line 34, /Users/franzwilding/Sites/istudi/sass/modules/ui/_listview.scss */
.content .inner ul.list li:active .listInner .title, .content .inner ol.list li:active .listInner .title {
  color: white;
}

/* line 3, /Users/franzwilding/Sites/istudi/sass/modules/ui/_detailview.scss */
.content .inner .article {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: white;
}

/* line 2, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu {
  width: 100%;
  background: #222222;
  color: white;
}
/* line 9, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu .header {
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(98%, #161616), color-stop(99%, #393939));
  background-image: -webkit-linear-gradient(#282828, #161616 98%, #393939 99%);
  background-image: -moz-linear-gradient(#282828, #161616 98%, #393939 99%);
  background-image: -o-linear-gradient(#282828, #161616 98%, #393939 99%);
  background-image: -ms-linear-gradient(#282828, #161616 98%, #393939 99%);
  background-image: linear-gradient(#282828, #161616 98%, #393939 99%);
}
/* line 14, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu .header h2 {
  width: 266px;
  color: white;
}
/* line 20, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu .content {
  width: 266px;
}
/* line 23, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu .content ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #2D2D2D;
}
/* line 28, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu .content ol li {
  border-bottom: 1px solid #111111;
  border-top: 1px solid #2D2D2D;
  padding: 10px;
  text-shadow: 0 1px black;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 35, /Users/franzwilding/Sites/istudi/sass/modules/ui/_menu.scss */
#menu .content ol li.active, #menu .content ol li:active {
  background: #111111;
  border-top: 1px solid #111111;
}

/* line 2, /Users/franzwilding/Sites/istudi/sass/modules/ui/_search.scss */
#search {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #C7C7C7;
}
/* line 8, /Users/franzwilding/Sites/istudi/sass/modules/ui/_search.scss */
#search input {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding-left: 30px;
  background: white url("img/icons/search.png") no-repeat 10px center;
  -webkit-background-size: 12px 12px;
  -moz-background-size: 12px 12px;
  -o-background-size: 12px 12px;
  background-size: 12px 12px;
}
