<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iStudi</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ionic css -->
    <link href="css/lib/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/lib/ionic.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-animate.js"></script>
    <script src="js/lib/angular/angular-route.js"></script>
    <script src="js/lib/angular/angular-touch.js"></script>
    <script src="js/lib/angular/angular-sanitize.js"></script>
    <script src="js/lib/ionic-angular.js"></script>

    <!-- Custom Services -->
    <script src="js/services/modelsFactory.js"></script>
    <script src="js/services/downloadFactory.js"></script>
    <script src="js/services/pushFactory.js"></script>

    <!-- Controller scripts -->
    <script src="js/controllers/Main.js"></script>
    <script src="js/controllers/News.js"></script>
    <script src="js/controllers/NewsDetail.js"></script>
    <script src="js/controllers/Maps.js"></script>
    <script src="js/controllers/MapsDetail.js"></script>
    <script src="js/controllers/Cards.js"></script>
    <script src="js/controllers/CardsDetail.js"></script>
    <script src="js/controllers/Nodes.js"></script>
    <script src="js/controllers/NodesDetail.js"></script>
    <script src="js/controllers/Settings.js"></script>
  
    <!-- your app's script -->
    <script src="js/app.js"></script>
    
    <!-- phonehap script -->
    <script src="phonegap.js"></script>
  </head>

  <!-- 'starter' is the name of this angular module (js/app.js)-->
  <body ng-app="istudi" ng-controller="MainCtrl">
    <side-menus>

      <!-- Center content -->
      <pane side-menu-content nav-router>

        <header class="bar bar-header bar-assertive">
          <button class="button icon ion-navicon" ng-click="toggleMenu()" ng-if="!showBackButton"></button>
          <a class="button icon ion-chevron-left" ng-if="showBackButton" href="#{{backReference}}"></a>
            <h1 class="title">{{title}}</h1>
        </header>
        
        <ng-view></ng-view>
      </pane>

      <!-- Left menu -->
      <side-menu side="left">
        <header class="bar bar-header bar-light">
          <h1 class="title">iStudi</h1>
        </header>
        <content has-header="true">
          <div class="list">
            
            <div class="item item-divider">Allgemein:</div>
            <a ng-repeat="item in menu" class="item item-icon-left" href="{{item.reference}}" ng-click="toggleMenu()">
              <i style="color: #666;" class="icon ion-{{item.icon}}">
              </i>
              {{item.title}}
            </a>
            
            <div class="item item-divider">Dein(e) Standort(e):</div>
            <a ng-repeat="group in groups | filter:{value: true}" class="item item-icon-left" href="#nodes/{{group.id}}" ng-click="toggleMenu()">
              <i style="color: #666;" class="icon ion-flag">
              </i>
              {{group.title}}
            </a>
            
          </div>
        </content>

      </side-menu>
    </side-menus>
    
    <script id="helloModal.html" type="text/ng-template">
      <div class="modal">
        <page id="helloModal-page" class="hello">
          <content has-header="false">
            <slide-box on-slide-changed="slideChanged(index)">
              
              <!-- first slide -->
              <slide class="slide-1">
                <h2>Danke, dass du iStudi heruntergeladen hast!</h2>
                <p><strong>Swipe nach links, um zu starten!</strong></p>
                
                <p class="big-icon"><span class="icon ion-arrow-left-c"></span></p>
              </slide>

              <!-- second slide -->
              <slide class="slide-2">
                <h2>Menü & Pull 2 refresh</h2>
                <p class="with-img"><img src="img/hello1.png" width="60px" height="auto" />Das Hauptmenü von iStudi kannst du über den Button links oben, 
                  oder mit einer Swipe-Geste von Links nach Rechts öffnen.</p>
                  
                <p class="with-img right"><img src="img/hello2.png" width="60px" height="auto" />Neue Inhalte bekommst du, indem du eine Liste nach unten ziehst.</p>
                <p class="big-icon"><span class="icon ion-arrow-left-c"></span></p>
              </slide>
        
              <!-- third slide -->
              <slide class="slide-3">
                <h2>Wähle deine Universität(en) aus</h2>
                
                <p>Wähle in den <strong>Einstellungen</strong> deine Universität(en) aus. Erst dann 
                  bekommst du alle Infos, Lagepläne und Tipps für deinen Standort angezeigt.</p>
                
                <p>
                  <br /><br />
                  <a class="button button-assertive" ng-click="closeModal()">Los geht's!</a>
                </p>
              </slide>
            </slide-box>
          </content>
        </page>
      </div>
    </script>
  </body>
</html>
