<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iStudi</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ionic css -->
    <link href="css/lib/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/lib/ionic.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-animate.js"></script>
    <script src="js/lib/angular/angular-route.js"></script>
    <script src="js/lib/angular/angular-touch.js"></script>
    <script src="js/lib/angular/angular-sanitize.js"></script>
    <script src="js/lib/ionic-angular.js"></script>

    <!-- Custom Services -->
    <script src="js/services/modelsFactory.js"></script>
    <script src="js/services/downloadFactory.js"></script>
    <script src="js/services/pushFactory.js"></script>

    <!-- Controller scripts -->
    <script src="js/controllers/Main.js"></script>
    <script src="js/controllers/News.js"></script>
    <script src="js/controllers/NewsDetail.js"></script>
    <script src="js/controllers/Maps.js"></script>
    <script src="js/controllers/MapsDetail.js"></script>
    <script src="js/controllers/Cards.js"></script>
    <script src="js/controllers/CardsDetail.js"></script>
    <script src="js/controllers/Nodes.js"></script>
    <script src="js/controllers/NodesDetail.js"></script>
    <script src="js/controllers/Settings.js"></script>
  
    <!-- your app's script -->
    <script src="js/app.js"></script>
    
    <!-- phonehap script -->
    <script src="phonegap.js"></script>
  </head>

  <!-- 'starter' is the name of this angular module (js/app.js)-->
  <body ng-app="istudi" ng-controller="MainCtrl">
    <side-menus>

      <!-- Center content -->
      <pane side-menu-content nav-router>

        <header class="bar bar-header bar-assertive">
          <button class="button icon ion-navicon" ng-click="toggleMenu()" ng-if="!showBackButton"></button>
          <a class="button icon ion-chevron-left" ng-if="showBackButton" href="#{{backReference}}"></a>
            <h1 class="title">{{title}}</h1>
        </header>
        
        <ng-view></ng-view>
      </pane>

      <!-- Left menu -->
      <side-menu side="left">
        <header class="bar bar-header bar-light">
          <h1 class="title">iStudi</h1>
        </header>
        <content has-header="true">
          <div class="list">
            
            <div class="item item-divider">Allgemein:</div>
            <a ng-repeat="item in menu" class="item item-icon-left" href="{{item.reference}}" ng-click="toggleMenu()">
              <i style="color: #666;" class="icon ion-{{item.icon}}">
              </i>
              {{item.title}}
            </a>
            
            <div class="item item-divider">Dein(e) Standort(e):</div>
            <a ng-repeat="group in groups | filter:{value: true}" class="item item-icon-left" href="#nodes/{{group.id}}" ng-click="toggleMenu()">
              <i style="color: #666;" class="icon ion-flag">
              </i>
              {{group.title}}
            </a>
            
          </div>
        </content>

      </side-menu>
    </side-menus>
    
    <script id="helloModal.html" type="text/ng-template">
      <div class="modal">
        <page id="helloModal-page" class="hello">
          <content has-header="false">
            <slide-box on-slide-changed="slideChanged(index)">
              
              <!-- first slide -->
              <slide class="slide-1">
                <h3>Thank you for choosing the Awesome App!</h3>
                <p>
                  We've worked super hard to make you happy.
                </p>
                <p>
                  But if you are angry, too bad.
                </p>
              </slide>

              <!-- second slide -->
              <slide class="slide-2">
                <h3>Using Awesome</h3>
                
                <div id="list">
                  <h5>Just three steps:</h5>
                  <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                  </ol>
                </div>
              </slide>
        
              <!-- third slide -->
              <slide class="slide-3">
                <h3>Any questions?</h3>
                <p>
                  <a class="button" ng-click="closeModal()">Los!</a>
                </p>
              </slide>
            </slide-box>
          </content>
        </page>
      </div>
    </script>
  </body>
</html>
