
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header, .content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content {
    top: 50px;
    overflow: auto;

    .inner {
      width: 100%;
      min-height: 101%;
    }
  }
}

#main {
  background: #EDEDED;
  @include box-shadow(0 0 10px #000000);
}