
.content .inner {
  ul.list, ol.list {
    border-top: 1px solid #C7C7C7;
    margin: 5px 0 20px 0;

    li {
      width: 100%;
      background: white;
      border-bottom: 1px solid #C7C7C7;
      position: relative;

      @include transition-property(all);
      @include transition-duration(0.2s);

      .listInner {
        padding: 13px 15px;

        .title {
          font-size: 1.2em;
          font-weight: 200;
          color: #000000;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-right: 25px;
          padding: 5px 0;
        }

        .date {
          float: left;
          margin: 0 5px 0 0;
          padding: 8px 0;
          font-size: 0.9em;
          color: #B3B3B3;
        }

        .navigation, .checkbox {
          position: absolute;
          top: 50%;
          margin-top: -6px;
          right: 15px;

          &.checkbox {
            margin-top: -4px;
          }
        }
      }

      &:active {
        @include background-image(linear-gradient(#0099FF, #0089E7));

        .listInner {
          .title {
            color: white;
          }
        }
      }
    }
  }
}