
.loading {
  margin: 20px;
  background: #DFDFDF;

  .status {
    display: block;
    height: 30px;
    width: 0;
    @include transition-property(width);
    @include transition-duration(0.5s);
    @include background-image(linear-gradient(#0099FF, #0089E7));
  }
}