body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 1em;
}

.c {
  clear: both;
  margin: 0;
  padding: 0;
}

p, ul, ol, dl, h1, h2, h3, h4, h5, h6, table, pre, blockquote, hr {
  margin: 20px 0;
}

h2 {
  color: $main;
  font-size: 1.4em;
}

h4 {
  font-weight: 200;
  color: #666666;
  text-transform: uppercase;
  font-size: 1.2em;
}

p {

}

em {
}

i {
  font-style: italic;
}

hr {
}

pre, blockquote {
}

dl {

  dt, dd {
  }

  dt {
  }

  dd {
  }
}

ol, ul {
  margin: 0 0 20px 20px;

  li {

  }
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

p {
}

table {

  thead {
  }

  tbody {
  }

  tfoot {
  }

  tr {
    td {
      padding: 2px;
    }

    th {
    }
  }
}

img {
}

abbr {
}

acronym {
}

address {
}


/* FORMUALR AND USER INPUTS */
form {
  legend {
  }

  p, .form-item, .form-actions {
  }

  label {
  }

  input, textarea, button {
  }

  input, textarea {
    font-size: 1em;
    font-weight: 200;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    background: white;
    padding: 5px;
    @include border-radius(5px);
    color: #B3B3B3;
    border: none;

    &:focus {
      color: #111111;
    }
  }

  button, input[type="submit"], input.button {
  }

  input {
    height: 30px;
  }

  select {
  }

  option {
  }

  textarea {
  }
}

#splash {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
}
