<nav-page id="about-page">
  <content has-header="true" class="padding">
    <h3>Über iStudi</h3>
    <p>iStudi ist die Gratis-APP des Verband Sozialistischer Student_innen Wien.</p>
    
    <h3>Über den VSStÖ</h3>
    <p>Der Verband sozialistischer Student_innen ist eine Organisation, in der 
      sich viele junge Menschen und Studierende engagieren, weil sie gemeinsam 
      die aktuelle Hochschulpolitik mitgestalten und sich gegen 
      Ungerechtigkeiten in unserer Gesellschaft einsetzen wollen. Wir sind Teil 
      der Österreichischen Hochschüler_innenschaft und setzen uns dort als 
      Studierendenvertreter_innen direkt für deine Interessen ein.
    </p>
    
    <h3>Mitmachen</h3>
    <p>Wenn du bei uns mitmachen möchtest, oder bei der nächste Version von 
      iStudi mithelfen möchtest, schreib uns einfach eine Email an 
      <a target="_blank" href="mailto:offic@vsstoe-wien.at">offic@vsstoe-wien.at</a>, schau auf 
      unsere <a target="_blank" href="http://www.facebook.com/vsstoewien">Facebook-Seite</a> 
      oder auf <a target="_blank" href="http://vsstoe-wien.at">vsstoe-wien.at</a>.</p>
    
  </content>
</nav-page>