<nav-page id="news-page" ng-controller="NodesCtrl">
  <content has-header="true" on-refresh="onRefresh()">
        
    <!-- for pull to refresh -->
    <refresher></refresher>

    <!-- display the list of news items -->
    <div class="list">
        
        
        
        <div ng-repeat="d in nodes | filter:{ group_id: group.id, ancestry: null} | orderBy:'position'" ng-if="nodes.length > 0">
          <div class="item item-divider">
            {{d.title}}
          </div>
            
          <a ng-repeat="item in nodes | filter:{ group_id: group.id, ancestry: d.id } | orderBy:'position'" class="item" href="#node/{{item.id}}">
            <h2>{{ item.title }}</h2>
            <p>{{ item.date | date: 'dd.MM. yyyy' }}</p>
          </a>
        </div>
        
        <div style="text-align: center;" class="padding" ng-if="nodes.length == 0">
          <p class="icon-left ion-arrow-down-c" style="margin-top: 20px; font-size: 16px; color: #aaa;"> Nach unten swipen, um Inhalte zu laden.</p>
        </div>
        
       
    </div>

  </content>
</nav-page>