
.icn {
  width: 22px;
  height: 48px;
  @include inline-block;
}

.icn.menu {
  background: url("img/icons/menu.png") no-repeat center center;
  @include background-size(contain);
}

.icn.navigation {
  width: 12px;
  height: 12px;
  background: url("img/icons/navigation.png") no-repeat center center;
  @include background-size(contain);
}

.icn.navigation {
  width: 12px;
  height: 12px;
  background: url("img/icons/navigation.png") no-repeat center center;
  @include background-size(contain);
}