
.icn {
  width: 22px;
  height: 48px;
  @include inline-block;
}

.icn.menu {
  background: url("img/icons/menu.png") no-repeat center center;
  @include background-size(contain);
}

.icn.ok {
  background: url("img/icons/ok.png") no-repeat center center;
  @include background-size(contain);
}

.icn.back {
  background: url("img/icons/back.png") no-repeat center center;
  @include background-size(contain);
}

.icn.navigation {
  width: 12px;
  height: 12px;
  background: url("img/icons/navigation.png") no-repeat center center;
  @include background-size(contain);
}

.icn.checkbox {
  width: 16px;
  height: 16px;
  background: url("img/icons/checkbox.png") no-repeat center center;
  @include background-size(contain);

  &.active {
    background: url("img/icons/checkbox_active.png") no-repeat center center;
    @include background-size(contain);
  }
}

.icn.loading {
  width: 16px;
  height: 16px;
  background: url("img/icons/loading.gif") no-repeat center center;
  @include background-size(contain);
}



.icn.news {
  background: url("img/icons/news.png") no-repeat center center;
  @include background-size(contain);
}

.icn.index {
  background: url("img/icons/index.png") no-repeat center center;
  @include background-size(contain);
}

.icn.settings {
  background: url("img/icons/settings.png") no-repeat center center;
  @include background-size(contain);
}