<div data-options="dxView : { name: 'about' } " >
  <div data-options="dxContent : { targetPlaceholder: 'content' } " >

    <h1>Impressum</h1>

    <h2>Verband Sozialistischer Student_innen</h2>

    <p>Bartensteingasse 4<br />
    A-1010 Wien<br />
    <strong>Tel.:</strong> 01 40 60 782<br />
    <strong>E-Mail:</strong> <a href="mailto:vsstoe@vsstoe.at">vsstoe@vsstoe.at</a><br />
    <strong>Web:</strong> <a target="_blank" href="http://vsstoe-wien.at">vsstoe-wien.at</a></p>

    <h3>Haftungsausschluss</h3>

    <p>Die Informationen auf diesen Seiten werden mit Rücksicht auf einen eventuellen Patentschutz veröffentlicht. Bei der Zusammenstellung von Texten wurde mit größter Sorgfalt vorgegangen. Trotzdem können Fehler nicht vollständig ausgeschlossen werden. Herausgeber_in und Autor_in kann für fehlerhafte Angaben und deren Folgen weder eine juristische Verantwortung noch irgendeine Haftung übernehmen.</p>

  </div>
</div>