<div data-options="dxView : { name: 'settings' } " >
  <div data-options="dxContent : { targetPlaceholder: 'content' } " >

    <div class="dx-fieldset">

      <div class="dx-field" data-bind="dxAction: '#unis'">
        <div class="dx-field-label">Universitäten</div>
        <div class="dx-field-value">
          <div data-bind="dxButton: {icon: 'arrowright'}"></div>
        </div>
      </div>

      <div class="dx-field" data-bind="dxAction: '#about'">
        <div class="dx-field-label">Über iStudi </div>
        <div class="dx-field-value">
          <div data-bind="dxButton: {icon: 'arrowright'}"></div>
        </div>
      </div>

    </div>
  </div>
</div>